
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:400,700);

body {
  background-color: white;
}

p {
  font-family: 'Gentium Basic', serif;
  color: #5B585A;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #5B585A;
}

hr {
  color: #84BD97;
  width: 80%;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#header {
  max-width: 100%;
  padding: 25px;
  height: 80px;
}

#subheader {
  max-width: 100%;
  padding: 25px;
  height: 80px;
  margin-top: -80px;
  margin-bottom: 30px;
  text-align: right;
}

#home-headline {
  margin-top: 90px;
  text-align: center;
}

#home-headline h1 {
  font-weight: 900;
  font-size: 150px;
  line-height: 70px;
  color: #84BD97;
  letter-spacing: -5px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

#home-headline p {
  text-transform: uppercase;
  font-weight: 700;
}

#home-content {
  text-align: center;
}

#home-button {
  margin: 50px;
  text-align: center;
}
.large-content {
  font-size: 20px;
}

#logo {
  color: #F04E22;
}

.primary-btn {
  background-color: #F04E22;
  color: #ECF0D6;
}

.primary-btn:hover {
  background-color: #ECF0D6;
}

.secondary-btn {
  background-color: #84BD97;
  color: #ECF0D6;
}

.secondary-btn:hover {
  background-color: #ECF0D6;
}
#login {
  margin-bottom: 90px;
}

#footer {
  max-width: 100%;
  padding: 20px;
  height: 200px;
  color: #F04E22;
  background-color: #ECF0D6;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.foot-copy {
  margin-top: 75px;
}

.hot {
  color: #F04E22;
}

.cool {
  color: #84BD97;
}

.profile-img {
  width: 80%;
  height: 80%;
}

#edit-form {
  margin-top: 15px;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}

#edit-form input{
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  color: grey;
}

#goal-box {
  border: 1px solid #93AEA6;
  padding: 15px;
}
