<div id="header" class="row">
  <div class="small-1 columns">
    <i id="logo" class="fa fa-heartbeat fa-2x"></i>
  </div>
</div>
<div class="row">
  <div id="home-headline" class="small-12 small-centered columns">
    <p class="large-content">Welcome to</p>
    <h1>Committen</h1>
  </div>
</div>

{{outlet}}
