<div id="header" class="row">
  <div class="small-1 columns">
    <a href="/" id="logo" class="fa fa-heartbeat fa-2x"></a>
  </div>
</div>
{{outlet}}
<div id="footer" class="row">
  <div class="small-12 columns foot-copy">
    Committen since 2015
  </div>
</div>
