<div id="home-content" class="row">
  <div class="small-2-columns"></div>
  <div class="small-2-columns">
    <p>Bacon ipsum dolor amet pork pork belly spare ribs, short loin pancetta pig ham tenderloin shankle kevin fatback prosciutto turkey. Tail t-bone spare ribs tenderloin venison kielbasa brisket turkey sausage ground round pancetta pork andouille</p>
  </div>
  <div class="small-2-columns"></div>
</div>

<div class="row">
  <div id="home-button" class="small-12-columns">
    {{#link-to 'users' class="button primary-btn"}}Log in with GitHub{{/link-to}}
  </div>
</div>
