<div id="home-content" class="row">
  <div class="small-10 small-centered columns">
    <p>
      Bacon ipsum dolor amet pork pork belly spare ribs,
      short loin pancetta pig ham tenderloin shankle kevin
      fatback prosciutto turkey. Tail t-bone spare ribs tenderloin
      venison kielbasa brisket turkey sausage ground round pancetta
      pork.
    </p>
  </div>
</div>

<div class="row">
  <div id="home-button" class="small-11 small-centered columns">
    {{#link-to 'users' class="button primary-btn"}}Log in with GitHub{{/link-to}}
  </div>
</div>
