<h3>Users</h3>

{{outlet}}

<!-- {{#each user in model}} -->
<!--   <div class="user"> -->
<!--     <img {{bind-attr src=user.thumbnailUrl}}> -->
<!--     <p>{{user.name}}</p> -->
<!--     <p>{{user.email}}</p> -->
<!--   </div> -->
<!-- {{/each}} -->
